
/*--------all common css start--------*/
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,li,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0px;
    padding: 0px;
}
img{
    vertical-align: middle;
}
body{
    overflow-x: hidden;
}
/*--------all common css end--------*/

/*--------navbar part start--------*/
#navbar{
    background-color: rgb(240, 204, 86);
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}
.logo img{
   padding: 10px 0px;
   height: 60px;
}
.menul{
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    line-height: 60px;
    padding: 0px 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
/*--------navbar part start--------*/

/*--------banner part start--------*/
#banner{
    padding: 50px 0px;
    background-color: #fff;
}
.banner-content h2{
 color: #000;
 text-transform: capitalize;
 font-size: 38px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 700;
 position: relative;
 padding-left: 10px;
}
.banner-content h2::after{
    position: absolute;
    content: "";
    height:85px;
    width: 3px;
    background-color: coral;
    top: 15px;
    left: 0px;
}
.banner-content span{
color: coral;
 text-transform: capitalize;
 font-size: 35px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 700;
 padding-bottom: 15px;
 display: inline-block;
 padding-bottom: 15px;
}
.banner-content p{
color: #000;
 text-transform: capitalize;
 font-size: 15px;
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 line-height: 22px;
 text-align: justify;
 padding-bottom: 10px;
}
.banner-content #banner-btn a{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    background-color: coral;
    border-radius: 5px;
}
#banner-btn{
    padding: 10px 0px;
}
.banner-content small{
color: #000;
 text-transform: capitalize;
 font-size: 13px;
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 padding: 10px 20px;
 display: block;
 padding: 0;
}
.banner-width{
    width: 35%;
}
.banner-img img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding-top: 10px;
}
/*--------banner part end--------*/

/*--------mission part start--------*/
#mission{
    padding: 50px 0px;
    background-color: #fff;
}
#container .mission-title{
    text-align: center;
}
#container .mission-title h2{
    color: #000;
    text-transform: capitalize;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
}
#container .mission-title span{
    color: coral;
    text-transform: capitalize;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
    display: inline-block;
    padding-bottom: 15px;
}

.items-content{
  background-color: rgb(219, 148, 121);
  margin-right: 10px;
  border-radius: 10px;
}
.items-content  img{
   width: 25%;
   padding-top: 10px ;
   padding-left: 10px ;
}

.items-content  h3{
    color: #000;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.items-content  p{
    color: #000;
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     line-height: 22px;
     padding-bottom: 15px;
     padding-left: 15px;
     width: 350px;
    }
/*--------mission part end--------*/

/*--------develop part start--------*/
#develop{
padding: 50px 0px;
  background-color: #fff;
}
.develop-img img{
    width: 50%;
}
.develop-content{
    padding-top: 20px;
}
.develop-content h2{
    color: #000;
    text-transform: capitalize;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.develop-content p{
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 458px;
}
.develop-content a{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    background-color: coral;
    border-radius: 5px;
}
/*--------mission part end--------*/

/*--------develop part start--------*/
#develop{
padding: 50px 0px;
  background-color: #fff;
}
.develop-img img{
    width: 50%;
}
.develop-content{
    padding-top: 20px;
}
.develop-content h2{
    color: #000;
    text-transform: capitalize;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.develop-content p{
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: justify;
}
.develop-content a{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    background-color: coral;
    border-radius: 5px;
}
/*--------develop part end--------*/

/*--------community part start--------*/
#community{
  padding: 50px 0px;
  background-color: #fff;
}
.community-img img{
    width: 60%;
    margin-left: 150px;
}
.community-content{
    padding-top: 20px;
}
.community-content h2{
    color: #000;
    text-transform: capitalize;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.community-content p{
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: justify;
    width: 574px;
}
.community-content a{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    background-color: coral;
    border-radius: 5px;
}
/*--------community part end--------*/

/*--------enroll part start--------*/
#enroll{
    padding: 50px 0px;
    background-color: #fff;
}
#enroll h2{
    color: #000;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 50px;
    text-align: center;
}
#enroll h2 span{
    color: coral;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.enroll-form{
    height: 500px;
    width: 420px;
    background-color: rgba(255, 140, 0, 0.5);
    border-radius: 10px;
    box-shadow:0px 3px 12px 6px rgba(0,0,0,0.55);
}
.enroll-title h2{
    color: darkorange;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
    position: relative;
    text-align: center;
}

.enroll-title h2::after {
	position: absolute;
	content: "";
	background-color: darkorange;
	height: 3px;
	width: 135px;
	left: 0px;
	bottom: 15px;
}
.enroll-form-text{
    margin-top: 35px;
    margin-left: 55px;
}
.enroll-form-text p{
    font-size: 22px;
    text-transform: capitalize;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 15px;
}
.enroll-form-text form input{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    border: 2px solid transparent;
}
.enroll-form-text form input:focus{
   border: 2px solid #f08231;
   transition: all linear .4s;
   box-shadow:0px 3px 12px 6px rgba(0,0,0,0.55);
}
.enroll-form-text form label{
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}
.enroll-form-text .submit{
    font-size: 18px;
    background-color: darkorange;
    margin-bottom: 10px;
    cursor: pointer;
    color: #000;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.enroll-form-text .reset{
    font-size: 18px;
    background-color: darkorange;
    margin-bottom: 10px;
    cursor: pointer;
    color: #000;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
/*--------enroll part start--------*/

/*--------footer part start--------*/
#footer{
    padding: 30px 30px;
    background-color: #000;
}
.footer-content{
    text-align: center;
    color: #fff;
}
.footer-content h2{
    color: #fff;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 10px;
}
.footer-content span{
    color: coral;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.footer-content p{
    color: #fff;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/*--------footer part start--------*/
